<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://localhost\PERSON-PC\HARDCOVER:1433;databaseName=HardCover</property>
    <property name="hibernate.connection.username">sa</property>
    <property name="hibernate.connection.password">nopw</property>
    <mapping resource="Model/Book.hbm.xml"/>
    <mapping resource="Model/Genre.hbm.xml"/>
    <mapping resource="Model/CheckedOutBook.hbm.xml"/>
    <mapping resource="Model/BookFileType.hbm.xml"/>
    <mapping resource="Model/Author.hbm.xml"/>
    <mapping resource="Model/ReservedBook.hbm.xml"/>
    <mapping resource="Model/Person.hbm.xml"/>
    <mapping resource="Model/RegisteredUser.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
